/* phần menu bên */
* {
    padding: 0;
    margin: 0;
}

.noidungchinh {
    display: flex;
    grid-row: 1fr 2fr;
    width: 100%;
}

.noidungchinh .bentrai section {
    width: 340px;
    background-color: #F0F0F0;
    margin-left: 100px;
}

.noidungchinh .bentrai {
    text-align: left;
}

.bentrai ul li:hover {
    border-left: 10px solid #FDC500;
}

/* phần nội dung */
.noidungchinh .bentrai section ul {
    list-style: none;
}

.noidungchinh .bentrai section ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.5s;
}

.noidungchinh .bentrai section ul li img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.noidungchinh .bentrai section ul li a {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-left: 10px;
}

/* phần ưu điểm */
.uudiem {
    width: 900px;
    margin: 0 auto;
    height: 500px;
}

.uudiem header {
    text-align: center;
}

.uudiem header h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 24px;
    color: #000000;
    margin-top: 55px;
    transition: all 0.5s;
}

.uudiem header h2:hover {
    transform: scale(1.1);
    color: rgb(7, 124, 241);
}

.uudiem article {
    display: flex;
    text-align: center;

}

.uudiem article div {
    margin-top: 63px;
    width: 5000px;
    transition: all 0.5s;
}

.uudiem article div img {
    width: 137px;
    height: 137px;
}

.uudiem article div:hover {
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(82, 81, 81);
    padding: 20px;
}

.uudiem article div h6 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    margin-top: 48px;
    margin-bottom: 12px;
}

.uudiem article div p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

/* chi tiết về công ty */
.chitiet {
    width: 1000px;
    margin-left: 53px;
    height: 800px;
}

.chitiet header {
    text-align: center;
}

.chitiet header p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.chitiet article p {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.chitiet article h2 {
    margin-top: 51px;
}